{{!< default}}
  {{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}} <header
  class="site-header outer">
  <div class="inner">
    {{> "site-nav"}}
  </div>
  </header>

  {{!-- Everything inside the #post tags pulls data from the post --}}
  {{#post}}

  <main id="site-main" class="site-main outer">
    <div class="inner">

      <article class="post-full {{post_class}} no-image">

        <header class="post-full-header">
          <h1 class="post-full-title">{{title}}</h1>
        </header>

        <div class="post-content" style="display: none;">
          {{content}}
        </div>

      </article>

      <div class="impress-container">
        <div id="impress"></div>
      </div>

    </div>
  </main>

  {{/post}}

  {{#contentFor "styles"}}
  <link rel="stylesheet" type="text/css" href="{{asset "built/presentation.css"}}" />
  {{/contentFor}}

  {{#contentFor "scripts"}}
  <script type="text/javascript" src="{{asset "built/impress.js"}}"></script>
  <script type="text/javascript">
    var content = document.querySelector("div.post-content");
    var pages = [], pageDiv = null;

    for (var next, child = content.firstChild; child; child = next) {
      next = child.nextSibling;

      if (pageDiv === null) {
        pageDiv = document.createElement("DIV");
        pageDiv.className = "step slide";
        pageDiv.dataset.x = 1000 * pages.length;
        pageDiv.dataset.y = 0;
        pages.push(pageDiv);
      }

      if (child.nodeType === document.ELEMENT_NODE) {
        if (child.tagName === "HR") {
          pageDiv = null;
          continue;
        }
      }

      pageDiv.appendChild(child);
    }

    content.remove();

    var impress_div = document.getElementById("impress");
    for (var page in pages) {
      impress_div.appendChild(pages[page]);
    }

    window.impressAPI = impress("impress");
    window.impressAPI.init();
  </script>
  {{/contentFor}}