<!DOCTYPE html>
<html lang="{{@site.lang}}">

<head>

  {{!-- Document Settings --}}
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  {{!-- Base Meta --}}
  <title>{{meta_title}}</title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  {{!-- Styles'n'Scripts --}}
  <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}" />
  <link rel="stylesheet" type="text/css" href="{{asset "built/search.css"}}" />

  {{!-- Font Awesome --}}
  <link rel="stylesheet" type="text/css" href="{{asset "css/fontawesome.css"}}" />

  {{!-- This tag outputs SEO meta+structured data and other important settings --}}
  {{ghost_head}}

  {{{block "styles"}}}

</head>

<body class="{{body_class}}">

  <div class="site-wrapper">

    {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
    {{{body}}}

    <div id="search-container"></div>

    {{!-- The footer at the very bottom of the screen --}}
    <footer class="site-footer outer">
      <div class="site-footer-content inner">
        <section class="copyright">
          <a href="{{@site.url}}">{{@site.title}}</a> &copy; {{date format="YYYY"}}
        </section>
        <section class="badges">
          <a href="https://status.blakerain.com/" title="Status page"><img src="https://img.shields.io/endpoint?url=https%3A%2F%2Fraw.githubusercontent.com%2FBlakeRain%2Fupptime.blakerain.com%2Fmaster%2Fapi%2Fblakerain-com%2Fuptime.json"></a>
          <a href="https://status.blakerain.com/" title="Status page"><img src="https://img.shields.io/endpoint?url=https%3A%2F%2Fraw.githubusercontent.com%2FBlakeRain%2Fupptime.blakerain.com%2Fmaster%2Fapi%2Fblakerain-com%2Fresponse-time.json"></a>
        </section>
        <nav class="site-footer-nav">
          <a href="{{@site.url}}">Latest Posts</a>
          {{#if @site.facebook}}<a href="{{facebook_url @site.facebook}}" target="_blank"
            rel="noopener">Facebook</a>{{/if}}
          {{#if @site.twitter}}<a href="{{twitter_url @site.twitter}}" target="_blank" rel="noopener">Twitter</a>{{/if}}
          <a href="https://ghost.org" target="_blank" rel="noopener">Ghost</a>
        </nav>
      </div>
    </footer>

  </div>

  {{!-- jQuery, required for fitvids --}}
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
  {{!-- Fitvids (for responsive video embeds), infinite scroll, floating header, and gallery card support --}}
  <script src="{{asset "built/casper.js"}}"></script>

  {{!-- Handle the search link and highlighting --}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/mark.min.js"></script>
  <script>
    function highlight_search_terms(terms) {
        var mark = new Mark(document.querySelector("section.post-full-content"));
        var opts = { separateWordSearch: true, diactritics: true };
        mark.mark(terms, opts);
    }

    window.addEventListener("load", () => {
      $("a.search-link").on("click", function (event) {
        event.preventDefault();
        window["__searchStore"].open();
        return false;
      });

      window.location.search
        .substr(1)
        .split("&")
        .map(term => term.split("="))
        .forEach(term_pair => {
            if (term_pair.length > 1 && term_pair[0] == "highlight") {
                  highlight_search_terms(decodeURIComponent(term_pair[1]));
              }
        });
    });
  </script>

  {{!-- The #block helper will pull in data from the #contentFor other template files. In this case, there's some JavaScript which we only want to use in post.hbs, but it needs to be included down here, after jQuery has already loaded. --}}
  {{{block "scripts"}}}

  <script src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin></script>

  <script src="{{asset "built/search.js"}}"></script>

  {{!-- Ghost outputs important scripts and data with this tag - it should always be the very last thing before the closing body tag --}}
  {{ghost_foot}}

</body>

</html>